<h1>Sign In</h1>

<% if flash[:error].present? %>
  <p class="error">
    <%= flash[:error] %>
  </p>
<% end %>

<%= form_tag login_path do %>
<div class="form-group">
  <label for="inputEmail" class="visually-hidden">
    <%= label_tag :email %>
    <%= email_field_tag :email, nil, :class => 'form-control', :autofocus => true %></label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
</div>

<div class="form-group">
  <label for="inputPassword" class="visually-hidden">
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, :class => 'form-control' %></label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
</div>

<button class="w-20 btn btn-lg btn-primary" type="submit"><%= submit_tag "Sign in" %></button>

<% end %>
